<?xml version="1.0"?>
<config>
    <modules>
        <Elgentos_Openkvk>
            <version>1.0.1</version>
        </Elgentos_Openkvk>
    </modules>
        <resources>
            <openkvk_setup>
                <setup>
                    <module>Elgentos_Openkvk</module>
                    <class>Elgentos_Openkvk_Model_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </openkvk_setup>
        </resources>
        <events>
            <cms_page_render>
                <observers>
                    <openkvk>
                        <type>singleton</type>
                        <class>Elgentos_Openkvk_Model_Header</class>
                        <method>add</method>
                    </openkvk>
                </observers>
            </cms_page_render>
        </events>
    <frontend>
        <layout>
            <updates>
                <openkvk>
                    <file>openkvk.xml</file>
                </openkvk>
            </updates>
        </layout>
    </frontend>
    <global>
       <blocks>
            <openkvk>
                <class>Elgentos_Openkvk_Block</class>
            </openkvk>
        </blocks>
    </global>
</config>